<h1> 詳細情報</h1>

<ul>
    <% @articles.each do |article| %>
    <p><li><%= link_to article.herenowtitle+"/", article_path(article.id) %> <%= link_to article.title, article_path(article.id) %></li></p>
    <% end %>
</ul>