　 <div class="span8">
    <% if @store.articles.any? %>
      <h3>Articles (<%= @store.articles.count %>)</h3>
      <ol class="articles">
        <%= render @articles %>
      </ol>
      <%= will_paginate @articles %>
      <%= link_to "Sign up now!", class: "btn btn-large btn-primary" %>
    <% end %>